{% extends 'base.html.twig' %}

{% block title %}Mon compte - La Boutique Francaise{% endblock %}

{% block content %}
    <h1>Mon compte</h1>

    Bienvenue {{ app.user.firstname }} dans votre compte
    <hr>
    <ul>
        <li><a href="{{ path('account_password') }}">Modifier mon mot de passe</a></li>
        <li><a href="{{ path('account_address') }}">Gérer mes adresses</a></li>
        <li>- Mes commandes</li>
    </ul>
    <hr>
{% endblock %}
